/*
* Container style
*/
html {
	width: 100%;
	height: 100%;
	clip: auto;
	position: absolute;
	overflow: hidden;
}	
div#graphCont {
	height: 750px;
	width: 55%;
	float: left;
	display: inline-block;
	padding-left: 100px;
}
div#tableDiv {
	overflow:scroll;
	width: 100px;
	height: 725px;
	float: left;
	display: inline-block;
}
div#filterCont {
	height: 750px;
	width: 20%;
	float: left;
	display: inline-block;
}
div#mainContent {
    height: 500px;
    width: 100px;
    display: inline-block;
}
div#overviewGraph {
	width: 200px;
    height: 350px;
}
#skills_svg {
	height: 400px;
    width: 700px;
    display: inline-block;
    float: left;
    padding-left: 100px;
}
footer {
	width: 25%;
	bottom: 0;
	right: 1%;
	text-align: right;
	margin: 20px auto;
	position: fixed;
}

/*
* Alias table style
*/
table#aliasTable {
	border: 1px solid black;
	border-spacing: 0px;
	display: inline-block;
}
td {
	text-align: left;
	padding: 5px;
	width: 10%;
	background-color: #ffffff;
}
td.firstCell {
	border-bottom: 1px solid black;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
}
td.aliasCol {
	border-right: 1px solid black;
}

/*
* Table scroll bar
*/
::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 8px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/*
* Filter table style
*/
table#filterTable {
	border-spacing: 0px;
	width: 100px;
}

